﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: beige;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Custom styles
-----------------------------------------------------------*/

.pf-link {
    font-size : 1.8em;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15px;
}

.pf-info {
    background-image: linear-gradient(to bottom right, rgb(142,200,123) 12%, rgb(171,240,160) 80%);
    border-radius: 15px;
    width: 500px;
    padding: 5px;
    margin: 10px;
}

.pf-info-label {
    color: darkslategray;
    font-size: 1.65em;
    font-weight: bold;
    margin-left: 10px;
    cursor: text;
}

.pf-info-text {
    font-size: 1.4em;
    color: saddlebrown;
    margin-left: 25px;
}

.pf-drop-down-label {
    font-weight: bold;
    margin: 0 25px 0 5px;
    width: 60px;
    display: inline-block;
}

.pf-drop-down-list {
    background: linen;
    width: 150px;
}

.pf-submit {
    text-align: center;
    padding-top: 10px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}