﻿@using pfuegen.Extensions
@model pfuegen.Models.GenerateModel


<h1>pfuegen</h1>
<p></p>
@{
    ViewBag.Title = "Generate";
    
    @Html.PfActionLink("Home", "Index")
    
    using (Html.PfForm("pfuegen!", "Generate", "pfuegen")) {
        @Html.Partial("Coins", Model.TreasureChest.Coins)
        @Html.Partial("Gems", Model.TreasureChest.Gems)
        @Html.Partial("Art", Model.TreasureChest.Art)
        @Html.Partial("Small", Model.TreasureChest.Small)
        @Html.Partial("Arms", Model.TreasureChest.Arms)
        @Html.Partial("Wondrous", Model.TreasureChest.Wondrous)
        
        @Html.PfLabel("Total Value: " + Model.TreasureChest.Value)
        
        if(Model.TreasureChest.Price != Model.TreasureChest.Value){
            @Html.PfLabel("Market Price: " + Model.TreasureChest.Price)
        }
        
        <div>
            @Html.HiddenFor(m => m.Input.Level)
            @Html.HiddenFor(m => m.Input.Amount)
            @Html.HiddenFor(m => m.Input.Speed)
            @Html.HiddenFor(m => m.Input.CreatureType)
            @Html.HiddenFor(m => m.Input.MoreTreasureTypes)
            @Html.HiddenFor(m => m.Input.Reroll)
        </div>
    }
    
}
