﻿@using pfuegen.Extensions
@model pfuegen.Models.TreasureModel

<h1>@Model.Name</h1>
@{
    ViewBag.Title = Model.Name;
    @Html.PfActionLink("Home", "Index")
    <div class="pf-info">
        @Html.Partial("Coins", Model.TreasureChest.Coins)
        @Html.Partial("Gems", Model.TreasureChest.Gems)
        @Html.Partial("Art", Model.TreasureChest.Art)
        @Html.Partial("Small", Model.TreasureChest.Small)
        @Html.Partial("Arms", Model.TreasureChest.Arms)
        @Html.Partial("Wondrous", Model.TreasureChest.Wondrous)

        @Html.PfLabel("Total Value: " + Model.TreasureChest.Value)

        @if (Model.TreasureChest.Price != Model.TreasureChest.Value) {
            @Html.PfLabel("Market Price: " + Model.TreasureChest.Price)
        }
    </div>
}
